<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div text-center>
    <ion-title>Garden Harvester Login</ion-title>
    </div>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
  Log in or register a new account here
  </div>


<ion-list>

<!--access a directive using a template reference variable (in this case ngForm)-->


<form #form="ngForm" novalidate> <!--turn off browser validation w/ novalidate-->
  <ion-item>
    <ion-label>Name</ion-label>
    <!--let Angular be aware of the value in name field through a name attribute and ngModel-->
    <!--Use the template reference variable (#firstName) to access the ngModel class-->
    <ion-input #firstName="ngModel" type="name" required name="name" [(ngModel)]="data.name"></ion-input>
  </ion-item>
  <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
    Your name is required.
    </div>

  
 <ion-item>
    <ion-label>Email</ion-label>
    <ion-input  #email="ngModel" type="email" required name="email" [(ngModel)]="data.email"></ion-input>
  </ion-item>
  <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
    Your email is required.
    </div>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" required name="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>

 <!-- 
<h3>Classes</h3>
  <h4> {{ firstName.invalid }}</h4> --> <!--access the various classes: invalid, dirty, etc-->
<!--{{form.valid}}-->

  <div text-center>
    <!--disable the Login key until all elements are entered-->
<button ion-button [disabled]="form.invalid" (click)="goToHomePage()">Login</button>
<button ion-button (click)="goToRegister()">Register</button>
</div>

</form>
</ion-list>
 
 <!--Model: {{model | json }}
 <br>
 Angular: {{form.value | json}} -->
 <!--{{form.pristine}}: use form.pristine to capture changes made to the form-->


</ion-content>
