<!--
  Generated template for the Existing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Current Garden</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card>
  <ion-card-header>
    Add recent harvests from your garden.
  </ion-card-header>

  <ion-list>
    <button ion-item>
				<ion-img style="width: 80px; height:80px;" src="assets/icon/beans.png"></ion-img>
      <!--<ion-icon name="beans" item-left></ion-icon>-->
      Beans
    </button>
    
		<button ion-item>	
    <ion-img style="width: 80px; height:80px;" src="assets/icon/tomato.png"></ion-img>
      Tomatoes
    </button>

    <button ion-item>
      <ion-img style="width: 80px; height:80px;" src="assets/icon/pepper.png"></ion-img>
      Pepper
    </button>

    <button ion-item>
      <ion-img style="width: 80px; height:80px;" src="assets/icon/cucumber.png"></ion-img>
      Cucumber
    </button>

    <button ion-item>
       <ion-img style="width: 80px; height:80px;" src="assets/icon/potato.png"></ion-img>
      Potato
    </button>

    <button ion-item>
       <ion-img style="width: 80px; height:80px;" src="assets/icon/squash_yellow.png"></ion-img>
      Squash
    </button>

  </ion-list>
</ion-card>

</ion-content>
 



<!--check out page below for using grids (tables) in ionic-->
<!--http://blog.ionic.io/layout-the-cool-way-using-the-ionic-2-grid-component/-->
