<ion-header>
  <ion-navbar>

    <div text-center>
    <ion-title>
      Garden Harvester
    </ion-title>
    </div>
	<ion-buttons end>  
    <button>Modal</button>        
  </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content padding>
     <div text-center>
Welcome to the Garden Harvester, {{name}}!
<p>Set up your garden plots and select the type of vegetables you want to grow</p>

<button ion-button (click)="goToNewGardenSetup()">Create a new garden</button>


<p>Manage your vegetables. Capture your harvest dates and yields</p>
 <!--center text in the button-->
<button ion-button (click)="goToExistingGarden()">Work existing garden</button>


<p>Get information on your costs and yields to date</p>

<button ion-button (click)="goToSummary()">Get summary data</button>
</div>
</ion-content>
